body {
    background: #f0f0f5;
}

.main-container {
    width: 100%;
    max-width: 1180px;
    padding: 0 30px;
    margin: 0px auto;

    font-family: Calibri;
}

.main-container header {
    display: flex;
    align-items: center;
}

.main-container header img {
    height: 104px;
}

.main-container header span {
    font-size: 20px;
    margin-left: 24px;
}

.main-container .anunciar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 260px;
    height: 60px;
    margin-left: auto;

    text-decoration: none;
    background-color: #F57000;
    color: white;
    font-size: 22px;
    border-radius: 8px;
    border-style: none;
    transition: width 0.5s, height 0.5s;
}

.main-container .anunciar:hover {
    width: 270px;
    height: 70px;
}

.main-container header .rect-button {
    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
    height: 60px;
    width: 60px;
    border-radius: 4px;
    border: 1px solid #dcdce6;
    background: transparent;
    margin-left: 16px;
    transition: border-color 0.2s;
}

.main-container header #logoff:hover{
    border-color: #F57000;
}

.main-container header #cart:hover{
    border-color: limegreen;
}

.main-container .barra-pesquisa {
    display: flex;
    align-items: center;
}

.main-container .barra-pesquisa h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    width: 35%;
}

.main-container .barra-pesquisa form {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.main-container .barra-pesquisa form input {
    width: 85%;
    height: 40px;
    padding-left: 8px;
    margin-right: 5px;
    border-radius: 8px;
    border-style: none;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

.main-container .barra-pesquisa form button {
    width: 125px;
    background-color: #2C88D9;
    color: white;
    height: 40px;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
}

.main-container .barra-pesquisa form button:hover {
    opacity: 0.8;
}

.main-container ul {
    padding: 0px;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /*Duas colunas de tamanho 1fr*/
    grid-gap: 24px; /*Espaçamento entre os itens da lista*/
    list-style: none;
}

.main-container ul li {
    background: #FFF;
    padding: 24px;
    border-radius: 8px;
}

.main-container ul li img {
    width: 100%;
    height: 200px;
    object-fit: contain;
}

.main-container ul li .titulo-produto {
    display: block;
    margin-bottom: -15px;
    color: #41414d;
    font-size: 25px;
}

.main-container ul li p {
    color: #737380;
    line-height: 21px;
    font-size: 16px;
}

.main-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

    text-decoration: none;
    background-color: #F57000;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
}

.main-container ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 40px;

    text-decoration: none;
    background-color: #F57000;
    color: white;
    font-size: 18px;
    border-radius: 8px;
    border-style: none;
}

.main-container ul li a:hover {
    opacity: 0.8;
}
